@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    background-color: #30132E;
}

.header{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.addTask{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 5px;
}

.newSimple{
    width: 50%;
    height: 40px;
}
.inputNewTask{
    display: flex;
    position: relative;
}
.nameInput{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}

.buttonSimple{
    position: absolute;
    right: 10px;
    align-self: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #10DB28;
    cursor: pointer;
}
.buttonSimple:hover{
    background-color:#02B508;
    transition: 120ms;
}
.btnNewTask{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.btnNewTask:hover , .actionTask:hover{
    background-color: #969696;
    transition: 180ms;
}

.actionTask{
    cursor: pointer;
    border: none;
    padding: 2px 3px 0px 3px;
    border-radius: 5px;
}

.buscaTask{
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    
}

.buscaTask input{
    height: 45px;
    width: 200px;
    padding: 8px;
    margin: auto;
    border-radius: 5px;

}
.buscaTask span{
    position: absolute;   
    right: 3px;
}
.sort{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;    
}

.sortTasks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
}
.btnSort:focus{
    background-color: #28a745;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #210233;
    border-radius: 13px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.sectionMain{
    display: flex;
    width: 80%;
    background-color: #3E0752;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    height: auto;
    
}
.allCards{
    height: 430px;
    width: 75%;
    overflow-y: auto; 
    overflow-x: hidden;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
    column-gap: 10px;
}


.card{
    display: flex;
    background-color:#2B2B2B;
    color: white;
    justify-content: space-between;
    border-radius: 7px;
    border: solid white 2px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    height: 100px;
    flex-wrap: wrap;
    margin: 10px 30px 20px 0px;
}
.infosTask{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: auto;
}
.infosTask h3, 
.infosTask p {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardFunctions{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.statusTask{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    margin: auto;
    border-radius: 5px;
    padding: 6px;
}

::-webkit-scrollbar {
    width: 10px
}
::-webkit-scrollbar-track {
    border: solid #2B2B2B; 
    border-radius: 10px;
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #5f0e7d; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}


/* ESTOU APANHANDO PARA ESTILIZAR ISSO */
dialog::backdrop{
    background-color: rgba(0 ,0, 0, 0.7);  
}

dialog[open]{
    display: flex;
    animation: aparecer 0.3s ease;
}
dialog {
    display: none; /* Este estilo é essencial */
}

@keyframes aparecer {
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
}
